@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$lgt2: 1280px;
$mdt2: 1024px;
$smt2: 768px;
$sxt2: 400px;

$font_main: "Roboto", sans-serif;

* {
    box-sizing: border-box;
}

.outer {
    max-width: 1600px;
    min-width: 400px;
    margin: 0 auto;
}

.firstsreen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/firstscreenbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    padding-top: 3em;
}

.header__wrapper {
    display: flex;
    padding: 0;
    justify-content: center;
}

.header__nav {
    display: flex;
    padding: 0;
    justify-content: center;
}

.header__nav-item {
    padding: 1em;
    text-decoration: none;
    color: white;
    margin-left: 2em;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.header__nav-item:hover {
    transition: 1s;
    transform: scale(1.5);
    cursor: pointer;
}

.header__flexcontainer {
    padding: 2em;
}

.header__social-item {
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    position: relative;
    margin-left: 6%;
}

.header__social-item:hover {
    transition: 1s;
    transform: scale(1.5);
    cursor: pointer;
}

.icon {
    position: absolute;
    padding: 35% 25%;
}

.header__social {
    display: flex;
    justify-content: space-around;
}
.firstscreen__h1 {
    font-size: 80px;
    letter-spacing: 4px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5%;
}
.firstscreen__h2 {
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.dots {
    color: #fff;
    position: absolute;
    left: 90%;
    bottom: 30%;
}

.itemnull {
    font-size: 28px;
}
.dots-item {
    list-style: none;
}

.firstscreen__arrow {
    color: #fff;
    display: inline;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 90%;
}

.firstscreen__arrow:hover {
    transition: 1s;
    transform: scale(3);
    cursor: pointer;
}
