@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.outer {
  max-width: 1600px;
  min-width: 400px;
  margin: 0 auto; }

.firstsreen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/firstscreenbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header {
  padding-top: 3em; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 1180px) {
    .header__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 970px) {
    .header__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.header__nav-item {
  padding: 1em;
  text-decoration: none;
  color: white;
  margin-left: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px; }

.header__nav-item:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer; }

.header__flexcontainer {
  padding: 2em; }

.header__social-item {
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  position: relative;
  margin-left: 6%; }

.header__social-item:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer; }

.icon {
  position: absolute;
  padding: 35% 25%; }

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.firstscreen__h1 {
  font-size: 80px;
  letter-spacing: 4px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%; }
  @media (max-width: 1180px) {
    .firstscreen__h1 {
      font-size: 60px; } }
  @media (max-width: 970px) {
    .firstscreen__h1 {
      font-size: 40px; } }
  @media (max-width: 580px) {
    .firstscreen__h1 {
      font-size: 20px; } }

.firstscreen__h2 {
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 970px) {
    .firstscreen__h2 {
      font-size: 14px; } }
  @media (max-width: 580px) {
    .firstscreen__h2 {
      font-size: 10px; } }

.dots {
  color: #fff;
  position: absolute;
  left: 90%;
  bottom: 30%; }
  @media (max-width: 1180px) {
    .dots {
      bottom: 36%; } }
  @media (max-width: 970px) {
    .dots {
      display: none; } }

.itemnull {
  font-size: 28px; }

.dots-item {
  list-style: none; }

.firstscreen__arrow {
  color: #fff;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 90%; }

.firstscreen__arrow:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(3);
          transform: scale(3);
  cursor: pointer; }

.trade {
  padding-top: 8em; }

.trade__hr {
  width: 100px;
  height: 1px;
  background-color: #2c4058; }

.trade__h1 {
  font-size: 44px;
  line-height: 22px;
  color: #2c4058;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0.7em;
  padding-bottom: 1em; }

.trade__block {
  width: 485px;
  height: 370px;
  background-color: #55b7ff; }
  @media (max-width: 1180px) {
    .trade__block {
      display: none; } }

.com__block {
  width: 485px;
  height: 370px;
  background-color: #55b7ff; }
  @media (max-width: 970px) {
    .com__block {
      display: none; } }

.trade__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.trade__imgs {
  position: relative; }

.trade__img {
  width: 485px;
  height: 370px;
  position: absolute;
  top: 20%;
  left: 35%; }
  @media (max-width: 1180px) {
    .trade__img {
      top: 15%;
      left: 15%; } }
  @media (max-width: 970px) {
    .trade__img {
      display: none; } }

.trade__h4 {
  font-size: 22px;
  line-height: 24px;
  color: #2c4058;
  font-family: "Roboto", sans-serif; }

.trade__h2 {
  font-size: 44px;
  line-height: 22px;
  color: #2c4058;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase; }

.trade__text {
  max-width: 360px; }

.trade__p {
  font-size: 18px;
  line-height: 30px;
  color: #4b5562;
  font-weight: 400;
  font-family: "Roboto", sans-serif; }

.commerce_img {
  width: 485px;
  height: 370px;
  position: absolute;
  top: 20%;
  left: -40%; }
  @media (max-width: 1180px) {
    .commerce_img {
      display: none; } }

.commerce {
  margin-top: 7em; }

.text-trade {
  margin-right: 10%; }
  @media (max-width: 970px) {
    .text-trade {
      margin-right: 32%; } }
  @media (max-width: 580px) {
    .text-trade {
      margin-right: 40%; } }

.text-commerce {
  margin-left: 10%; }
  @media (max-width: 970px) {
    .text-commerce {
      margin-left: 30%; } }
  @media (max-width: 580px) {
    .text-commerce {
      margin-left: 5%; } }

.projectsfirst {
  padding-top: 5%; }

.projectssecond {
  padding-top: 15%; }

.news {
  padding-top: 7%;
  background-image: linear-gradient(45deg, #3b7fd3 0%, #23cbf9 100%);
  margin-top: 15%; }

.card {
  background-color: white;
  max-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.news__cardimg {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20%; }

.gallery {
  padding-top: 10%;
  position: relative; }

.gallery__btn {
  position: absolute;
  left: 43%;
  margin-top: 2em; }

.gallery__png {
  position: absolute;
  bottom: 15%;
  left: 30%; }

.gallery__item {
  max-width: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain; }

.container {
  padding: 2% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2% 2%;
  grid-auto-flow: row;
  grid-template-areas: "divone divone divtwo divthree" "divone divone divfour divfive"; }

.divone {
  grid-area: divone; }

.divtwo {
  grid-area: divtwo; }

.divthree {
  grid-area: divthree; }

.divfour {
  grid-area: divfour; }

.divfive {
  grid-area: divfive; }

html,
body,
.container {
  height: 100%;
  margin: 0; }

.btn {
  width: 190px;
  height: 50px;
  background-color: #fffefe;
  border: 1px solid #2c4058;
  font-size: 14px;
  line-height: 22px;
  color: #2c4058;
  font-family: "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase; }

.contact__btn {
  margin-top: 3.4em;
  margin-left: 3.4em;
  width: 150px;
  height: 50px; }

.btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
  background-color: #55b7ff; }

.map {
  height: 600px;
  margin-top: 15em; }

.footer {
  background-image: linear-gradient(45deg, #3b7fd3 0%, #23cbf9 100%);
  padding: 1% 25%; }

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em; }
  @media (max-width: 970px) {
    .footer__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.footer__p {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Roboto", sans-serif; }

.contact {
  background-color: #fff;
  width: 600px;
  height: 500px;
  padding-top: 2em; }
  @media (max-width: 970px) {
    .contact {
      width: 380px; } }
  @media (max-width: 580px) {
    .contact {
      widows: 300px; } }

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 970px) {
    .contact__wrapper {
      width: 90%; } }

.contact__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2em; }

.contact__item {
  padding-top: 1em;
  text-decoration: none;
  font-size: 18px;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  color: #000; }
  @media (max-width: 970px) {
    .contact__item {
      font-size: 10px; } }
  @media (max-width: 580px) {
    .contact__item {
      font-size: 7px; } }

.span__contacts {
  color: #7e5aff; }

.input-email {
  border: none;
  border-bottom: 1px solid gray; }

.contacts__form {
  padding-top: 0.6em; }

.input-name {
  margin-bottom: 1.4em;
  margin-top: 1em; }

.slick-slide {
  margin: 0 1.8em; }

.news__content {
  margin: 0 10%; }

.news__cardh,
.news__cardp {
  font-family: "Roboto", sans-serif; }
